.footer-img {
  margin-top: 24px;
  max-height: 100px;
}

.footer-description {

}

.contact_info {
  i {
    color: white;
    font-size: 20px;
  }

  a {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 14px;
    height: 28px;

    &:hover,
    &:focus{
      color: #f9f9f9;
      border-bottom: 1px solid white;
      text-decoration: none;
    }
  }
}