// Variables

$primary-color: rgb(0,105,255);
$primary-color-dark: #0054cc;

$gradient-start: rgba(127,180,255,1);
$gradient-end: rgb(57, 157, 255);

$heading-color: rgb(20, 20, 20);
$text-color: rgb(33, 33, 33);

$secondary-color: #b64237;

$fill-color: #FF7619;
$fill-color-hover: #db6b18;